# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# add
.vs
.GALAXYADVENTURE/GALAXYADVENTURE/x64
/GALAXYADVENTURE/GALAXYADVENTURE/x64
/GALAXYADVENTURE/x64

